# Environment variables (GLOBAL)
.env
.env.*
server/.env
client/.env
client/.env.*
# Environment files
.env
.env.local
.env.development
.env.production

# Node
node_modules/

# Build outputs
dist/
build/
